{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://media.licdn.com/dms/image/D4D03AQHcRrUxYaCKzw/profile-displayphoto-shrink_800_800/0/1673830827490?e=1689206400&v=beta&t=fRXpyW1IHYIE-uqw3DOzsGtH1j2P8XE1NJSNgLwltt8" alt="Batuhan" class="img-fluid rounded-circle mb-4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Mehmet Batuhan Duman</h5>
                                <p class="card-text">Hello I am Mehmet Batuhan Duman, studying Computer Engineer and also double major in Electrical Engineering. I did Erasmus last year in Universidad de Almeria and I am going to do research in Universidad de Malaga this September. I am currently work on Deep Learnin Algortithms and Machine Learning applications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ali Osman Beker</h5>
                                <p class="card-text">I am a computer engineering student with experience working as a
                                    .NET developer. I prefer to work on the backend side of web development projects. I
                                    am currently working as an R&amp;D intern at AdresGezgini Internet Advertising
                                    company to improve my skills in the field of artificial intelligence algorithms. I
                                    am also working on becoming a senior-level Python developer. My career goal is to
                                    specialize in machine learning.
                                    .</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="https://media.licdn.com/dms/image/D4D03AQEseuhLqa0p1Q/profile-displayphoto-shrink_800_800/0/1670499169950?e=1688601600&v=beta&t=8vu0tZGHpqwFb_3ix1iNoIzre5zPGoCGGSjwGtPGs04"
                                 class="img-fluid rounded-circle mb-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}